.ratingProgressBarContainer {
    display: flex;
    align-items: center;
    gap: 12px;
}

.ratingProgressBar {
    position: relative;
    width: 100%;
    height: 26px;
    background: #d2d2d2;
    border-radius: 4px;
    padding: 0px 6px;
}

.ratingProgressBarLabel {
    font-size: 14px;
    color: var(--whiteColor);
    font-weight: 600;
    line-height: 1;
    position: absolute;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
    left: 6px;
}

.ratingProgressBarFill {
    height: 100%;
    border-radius: 4px;
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
}


.ratingProgressBarValue {
    font-size: 14px;
    color: #319795;
    font-weight: 600;
    line-height: 1;
}