/*************** Pagination  START ************/
div.dataTables_paginate {
  padding: 0px 0;
  margin: 0 0px 0 0 !important;
  font-weight: 300;
  box-shadow: 0 10px 10px 0 rgb(158 158 158 / 8%),
    0 0px 0px 0 rgb(218 218 218 / 93%);
  border-radius: 10px;
}

ul.pagination {
  margin: 0 0px 0 0 !important;
  /* font-weight: 600; */
  border-radius: 10px;
}

.page-item .page-link {
  border-color: var(--primaryColor);
  border-style: solid;
  border-width: 1px 0px 1px 0px;
  padding: 10px 20px;
  color: var(--paginationColor);
  font-size: 15px;
  font-weight: 500;
  background-color: transparent;
}

.page-item:first-child a,
.page-item:last-child a {
  text-align: center;
  background: transparent;
  padding: 10px 20px;
  color: #2b2541;
  border-top: 1px solid var(--primaryColor);
  border-bottom: 1px solid var(--primaryColor);
  display: block;
  height: 46px;
  line-height: 1.6;
}

.page-item:first-child a {
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  border-left: 1px solid var(--primaryColor);
}

.page-item:last-child a {
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  border-right: 1px solid var(--primaryColor);
}

.page-item.disabled {
  display: flex;
}

.page-item.disabled .page-link {
  color: var(--grayColorDark);
  pointer-events: none;
  background-color: #fff;
  border-color: #ffffff;
  font-size: 15px;
  font-weight: 500;
  align-items: center;
  display: flex;
  justify-content: center;
  padding-left: 20px;
  padding-right: 20px;
  text-transform: capitalize;
  outline: none;
}

.page-item:first-child a:hover,
.page-item:last-child a:hover,
.page-item.active .page-link,
.page-item .page-link:hover,
.page-item .page-link:focus {
  z-index: 3;
  color: var(--blackColor);
  background: var(--primaryColor);
  border-color: var(--primaryColor);
  outline: 0;
  /* box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);*/
  box-shadow: none;
}

.page-item .page-link:hover:before {
  display: none;
}

.page-item:nth-child(2) .page-link::before,
.page-item:last-child .page-link::before,
.page-item.active .page-link::before {
  display: none;
}

.page-item:not(:first-child) .page-link::before {
  position: absolute;
  content: '';
  height: 15px;
  background: var(--black);
  left: 0;
  top: 15px;
  width: 1px;
}

ul.pagination .break > a {
  border-color: var(--primaryColor);
  border-style: solid;
  border-width: 1px 0px 1px 0px;
  padding: 7px 15px 13px 15px;
  color: var(--secondaryColor);
  font-size: 15px;
  background-color: transparent;
  display: block;
  position: relative;
}

ul.pagination .break > a::before {
  position: absolute;
  content: '';
  height: 15px;
  background: var(--secondaryColor);
  left: 0;
  top: 15px;
  width: 1px;
}

/*************** Pagination  END ************/

.customPagination .pagination {
  justify-content: end;
}

.paginationText {
  font-size: 14px;
  color: var(--grayColorDark);
  margin: 0;
}

.customPagination {
  margin: 1rem 0;
  justify-content: space-between;
  align-items: center;
}

.pagination {
  display: flex;
  list-style: none;
  padding: 0;
}

.pagination li {
  margin: 0 1px;
}

.pagination a {
  text-decoration: none;
  padding: 5px 10px;
  border: 1px solid var(--grayColor);
  border-radius: 10px;
  cursor: pointer;
  color: var(--grayColorDark);
}

.pagination a:hover {
  text-decoration: none;
  background-color: var(--primaryColor);
  color: white !important;

  /* Ensure underline doesn't reappear on hover */
}

.pagination .active a {
  background-color: var(--primaryColor);
  color: white;
}

.pagination .break-me {
  cursor: default;
  color: var(--grayColorDark);
}
