.customRadio {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.customRadioLabel {
  width: 8px;
  height: 8px;
  background: var(--whiteColor);
  border-radius: 99px;
  outline: 2px solid var(--secondaryColor);
  outline-offset: 2px;
  cursor: pointer;
}

.customRadioLabel.checked {
  background: var(--primaryColor);
}

.customRadioLabelText {
  cursor: pointer;
}
